
button{
    background-color: var(--lightBlue2);
    border: none;
    transition: all 0.5s;
}
button:hover{
    cursor: pointer;
    background-color: inherit;
}
.delete, .edit{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
}
.changePass{
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5% 10%;
}



