
h3{
    border-bottom: 1px solid var(--darkPurple);
}
.navbar{
    border-bottom: 1px solid rgba(28, 39, 60, 0.12);
    box-shadow: 0 0 30px rgb(28 39 60 / 8%);
}
#headerBack{
    height: 65px;
}
h2{
    margin-left: 0.6rem;
}
.navbar-brand > h2{
    color: var(--darkPurple) !important;
}
.nav-link{
    color: black !important;
}
.nav-link.active{
    color: var(--darkPurple) !important;
    /* border-bottom: 1px solid var(--darkPurple); */
}
.nav-link:hover{
    cursor: pointer;
    color: var(--darkPurple) !important;
}
.navbar-collapse{
    line-height: 2.4;
}
.coll{
    display: none;
}
.collapse.show .coll{
    display: inline;
}
thead>tr>th{
    cursor: pointer;
}
thead{
    background-color: var(--lightBlue2);
}
.modal-header{
    color: var(--darkPurple);
}
.modal-footer>button:last-child{
    background-color: var(--darkPurple);
    border: 1px solid var(--darkPurple);
    transition: all 0.3s;
    opacity: 0.8;
}
.modal-footer>button:last-child:hover{
    opacity: 1;
}

@media all and (min-width:993px) {
    .nav-link.active{
        border-bottom: 1px solid var(--darkPurple);
    }
}
