#l_eReport{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 60%;
    justify-content: center;
}
.calendarHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color2);
    font-size: 1.3rem;
}
.fa-angle-left, .fa-angle-right{
    font-size: 2rem;
}
.fa-angle-left:hover, .fa-angle-right:hover{
    cursor: pointer;
}
#TableL_E{
    width: 100%;
    color: var(--grey);
    border-collapse: collapse;
    display: none;
}
td{
    width: 50%;
    padding: 0.5rem;
    height: 2.5rem;
}
thead>tr>td{
    font-weight: bold;
}
thead>tr{
    background-color: var(--color2);
    color: var(--white);
    position: sticky;
    top: 0;
}
td{
    border: 2px solid var(--lightgrey);
}
tbody>tr:hover{
    background-color: var(--lightgrey);
}
#noData{
    display: none;
    color: var(--color2);
    text-align: center;
    padding-top: 60px;
    font-size: 1.4rem;
    font-weight: bold;
}

@media (max-width: 700px), screen and (orientation: portrait){ 
    #l_eReport{
        grid-template-columns: 80%;
    }
}
