body{
    height: 100vh;
}
.img{
    background-position: center;
    background-size: cover;
}
.btn{
    min-height: 30px;
    border-radius: 12px;
    transition: all 0.6s;
}
.card{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#registerButton{
    background-color: var(--purple);
    border-color: white;
}
#registerButton:hover{
    background-color: var(--darkPurple);
}
#loginButton{
    color: var(--purple);
    border-color: var(--purple);
    border-width: 2px;
}
#loginButton:hover{
    background-color: var(--purple);
    border-color: white;
    color: white;
}
h3{
    color: var(--darkBlue);
}

@media  all and (max-width: 768px) {
    .img{
        display: none;
    }
    .btn {
        margin: 1rem;
    }
}
