
#mainSection{
    min-height: 380px;
    padding: 3% 5%;
}
#innerSection{
    height: 85%;
}
.loginForm{
    height: 100%;
}

#innerSection span{
    margin-top: 10px;
    align-self: center;
    color: var(--color4);
    display: none;
}
.inp{
    border-radius: 5px;
    border: 0.5px solid var(--color2);
    padding: 1.5%;
    height: 2rem;
    margin-bottom: 20px;
    outline-color: var(--color2);
}
.empty{
    outline-color: var(--color4);
}
.submit{
    height: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#departure{
    margin-top: 10px;
}