
body{
    background-color: var(--lightBlue2);
}
.container{
    height: 100vh;
}
form{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

input[type=submit]{
    background-color: var(--purple);
    border: none;
    transition: all 0.6s;
}
input[type=submit]:hover{
    background-color: var(--darkPurple);
}
a{
    color: var(--purple);
}
a:hover{
    color: var(--darkPurple);
}
#invalid{
    opacity: 0;
    color: rgb(240, 8, 8) !important;
}

.btn{
    min-height: 30px;
    border-radius: 12px;
    transition: all 0.6s;
}
#basic-addon1{
    border-radius: 10px 0 0 10px;
    border-right: none;
}
#username, #password{
    border-radius: 0 10px 10px 0;
    border-left: none;
}
