
.container{
    height: 100vh;
}

#invalid{
    opacity: 0;
    color: rgb(240, 8, 8) !important;
}

#basic-addon1{
    border-radius: 10px 0 0 10px;
    border-right: none;
}
#username, #password{
    border-radius: 0 10px 10px 0;
    border-left: none;
}
