*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--darkBlue);
}

/* all colors in the website */
:root{
    /* new ones */
    --purple: #d3b5c8;
    --darkPurple: #a87a97;
    --darkBlue: #49576e;
    --lightBlue: #accffb;
    --lightBlue2: #e3efff;
}

/* --------------- scroller --------------- */
::-webkit-scrollbar {
    width: 10px;
}
/* (background-color) */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* its color */
::-webkit-scrollbar-thumb {
    background: #dddddd; 
}
/* hover color */
::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1; 
}


/* ---------------------------------------------------------  */
.btn:focus{
    outline: none;
    box-shadow: none;
}
