
.card{
    max-width: 700px;
    margin: 30px auto;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 15px 0px;
    border: none;
}
.card-header{
    background-color: var(--lightBlue2);
    text-align: center;
    border: none;
}
.card-body{
    position: relative;
}
button{
    background-color: var(--lightBlue2);
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.5s;
    position: absolute;
    top: 70%;
}
.ok{
    left: 65%;
}
.no{
    left: 40%;
}
button:hover{
    cursor: pointer;
    background-color: inherit;
}
#noNotification{
    text-align: center;
    margin-top: 140px;
    font-size: 2.5rem;
}