
h3{
    border-bottom: 1px solid var(--darkPurple);
}
.navbar-brand{
    color: var(--darkPurple) !important;
}
#img{
    background-image: url("../Images/profilePage.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nav-link{
    color: var(--darkBlue) !important;
}
.nav-link.active{
    color: var(--darkPurple) !important;
}
.card{
    border: none;
    box-shadow: rgba(111, 100, 110, 0.2) 0px 5px 10px 0px;;
}
input:focus{
    outline: 1px solid var(--purple);
}
input{
    border: 1px solid var(--darkPurple);
}
thead{
    background-color: var(--lightBlue);
}
.data{
    position: relative;
}
.noReport{
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}
#wrapperTable{
    opacity: 0;
}
#dayReport{
    opacity: 0;
}
.fa-solid{
    /* color: var(--lightBlue); */
    font-size: 1.2rem; 
    padding-left: 0.25rem;
}
