
.container {
    height: 100vh;
}
body>div>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    min-height: 250px;
}
.fa-solid{
    color: var(--purple);
}
.fa-solid:hover{
    cursor: pointer;
}
